* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(
        90deg, 
        rgba(48, 16, 255, 1) 0%, 
        rgba(100, 115, 255, 1) 100%);
}

.title {
    font-weight: 600 !important;
    font-size: 30px;
}

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 520px;
    min-height: auto;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
     rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 16px;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgb(155, 0, 225, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.todo-button:hover {
    font-weight: bold;
}

.clear-todos-button {
    padding: 10px 16px;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}

.clear-todos-button:hover {
    font-weight: bold;
}

.todo-counter {
    padding: 10px 0 25px 0;
    color: white;
    font-size: 12px;
}


.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto 0;
    color: #fff;
    background: linear-gradient(
        90deg, 
        rgba(255, 118, 20, 1) 0%,
        rgba(255, 84, 17, 1) 100%
    );
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
     rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todo-text:hover {
    cursor: pointer;
    font-weight: bold;
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
}
  
.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
}
  
.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
}

.icons {
    display: flex;
    vertical-align: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
  
.delete-icon {
    margin-right: 5px;
    color: #fff;
}
  
.edit-icon {
    color: #fff;
}

.footer {
    padding: 0 0 0 0;
    text-align: center;
    color: #868686;
    font-size: 12px;
    vertical-align: bottom;
}



@media screen and (max-width: 480px) {
    .todo-app {
        width: 80%;
        margin: 10%;
    }

    .todo-input {
        width: 60%;
    }

    .title {
        font-size: 22px;
    }

    .todo-row {
        width: 80%;
        font-size: 14px;
    }
 }